<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string></string>
			<key>height</key>
			<string>320</string>
			<key>icon</key>
			<string>banner.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Samg_is_a_Ninja</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate &lt;3</string>
			<key>action</key>
			<string>giveMeMoney</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Contact me on reddit</string>
			<key>action</key>
			<string>openMyReddit</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Send me an email</string>
			<key>action</key>
			<string>sendMail</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>View my GitHub</string>
			<key>action</key>
			<string>openGithub</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enable/Disable all functionality</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.samgisaninja.mcsplashprefs</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>com.samgisaninja.mcsplashprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Appearance</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.samgisaninja.mcsplashprefs</string>
			<key>key</key>
			<string>enableAnimations</string>
			<key>label</key>
			<string>Enable Animations</string>
			<key>PostNotification</key>
			<string>com.samgisaninja.mcsplashprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.samgisaninja.mcsplashprefs</string>
			<key>key</key>
			<string>splashSide</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Left</string>
				<string>Right</string>
			</array>
			<key>PostNotification</key>
			<string>com.samgisaninja.mcsplashprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>x offset (positive is right, negative is left)</string>
			<key>footerText</key>
			<string>Swipe back to dismiss keyboard</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0</real>
			<key>defaults</key>
			<string>com.samgisaninja.mcsplashprefs</string>
			<key>key</key>
			<string>xOff</string>
			<key>min</key>
			<integer>-300</integer>
			<key>max</key>
			<integer>300</integer>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.samgisaninja.mcsplashprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.samgisaninja.mcsplashprefs</string>
			<key>key</key>
			<string>xOff</string>
			<key>label</key>
			<string>Enter value manually</string>
			<key>placeholder</key>
			<string>0</string>
			<key>isDecimalPad</key>
			<true/>
			<key>prompt</key>
			<string>Enter x offset value</string>
			<key>okTitle</key>
			<string>Save</string>
			<key>cancelTitle</key>
			<string>Cancel</string>
			<key>PostNotification</key>
			<string>com.samgisaninja.mcsplashprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>y offset (positive is down, negative is up)</string>
			<key>footerText</key>
			<string>Swipe back to dismiss keyboard</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0</real>
			<key>defaults</key>
			<string>com.samgisaninja.mcsplashprefs</string>
			<key>key</key>
			<string>yOff</string>
			<key>min</key>
			<integer>-300</integer>
			<key>max</key>
			<integer>300</integer>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.samgisaninja.mcsplashprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.samgisaninja.mcsplashprefs</string>
			<key>key</key>
			<string>yOff</string>
			<key>label</key>
			<string>Enter value manually</string>
			<key>placeholder</key>
			<string>0</string>
			<key>isDecimalPad</key>
			<true/>
			<key>prompt</key>
			<string>Enter y offset value</string>
			<key>okTitle</key>
			<string>Save</string>
			<key>cancelTitle</key>
			<string>Cancel</string>
			<key>PostNotification</key>
			<string>com.samgisaninja.mcsplashprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Rotation (degrees)</string>
			<key>footerText</key>
			<string>Swipe back to dismiss keyboard</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<integer>45</integer>
			<key>defaults</key>
			<string>com.samgisaninja.mcsplashprefs</string>
			<key>key</key>
			<string>rotation</string>
			<key>label</key>
			<string>Enter value manually</string>
			<key>placeholder</key>
			<string>0</string>
			<key>isDecimalPad</key>
			<true/>
			<key>prompt</key>
			<string>Enter rotation value</string>
			<key>okTitle</key>
			<string>Save</string>
			<key>cancelTitle</key>
			<string>Cancel</string>
			<key>PostNotification</key>
			<string>com.samgisaninja.mcsplashprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>45</real>
			<key>defaults</key>
			<string>com.samgisaninja.mcsplashprefs</string>
			<key>key</key>
			<string>rotation</string>
			<key>min</key>
			<integer>-180</integer>
			<key>max</key>
			<integer>180</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Font Size</string>
			<key>footerText</key>
			<string>Swipe back to dismiss keyboard</string>
			<key>PostNotification</key>
			<string>com.samgisaninja.mcsplashprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<integer>11</integer>
			<key>defaults</key>
			<string>com.samgisaninja.mcsplashprefs</string>
			<key>key</key>
			<string>textSize</string>
			<key>placeholder</key>
			<string>11</string>
			<key>isDecimalPad</key>
			<true/>
			<key>PostNotification</key>
			<string>com.samgisaninja.mcsplashprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Hide time view elements</string>
			<key>footerText</key>
			<string>Please do not use other tweaks to hide the date/time as they may interefere with Bedrock.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.samgisaninja.mcsplashprefs</string>
			<key>key</key>
			<string>hideTime</string>
			<key>label</key>
			<string>Hide time view</string>
			<key>PostNotification</key>
			<string>com.samgisaninja.mcsplashprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.samgisaninja.mcsplashprefs</string>
			<key>key</key>
			<string>hideDate</string>
			<key>label</key>
			<string>Hide date view</string>
			<key>PostNotification</key>
			<string>com.samgisaninja.mcsplashprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Compatibility</string>
			<key>footerText</key>
			<string>Not recommended with animations enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.samgisaninja.mcsplashprefs</string>
			<key>key</key>
			<string>hypShow</string>
			<key>label</key>
			<string>Show on Hyperion (SparkDev) Always On Display</string>
			<key>PostNotification</key>
			<string>com.samgisaninja.mcsplashprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>footerText</key>
			<string>If disabled, A-Font will override the minecraft appearance</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.samgisaninja.mcsplashprefs</string>
			<key>key</key>
			<string>blockAFont</string>
			<key>label</key>
			<string>Enable A-Font (BawAppie) compatibility</string>
			<key>PostNotification</key>
			<string>com.samgisaninja.mcsplashprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>You may need to respring after applying some settings</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring (sbreload, if available)</string>
			<key>action</key>
			<string>respringDevice</string>
		</dict>
	</array>
	<key>title</key>
	<string>Bedrock</string>
</dict>
</plist>
