Package: com.samgisaninja.mcsplash
Name: mcsplash
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Samg_is_a_Ninja
Author: Samg_is_a_Ninja
Section: Tweaks
Version: 0.0.1-3+debug
Installed-Size: 188
